<header class="box">
  <div class="logo">
    <img width="86" src="images/wix_icon.png" alt="logo"/>
  </div>
  <div class="loggedOut">
    <p translate="description">
    </p>

    <div class="login-panel">
      <p class="create-account" translate="create"></p>
      <button class="submit uilib-btn connect">{{'connect' | translate}}</button>
    </div>
  </div>
  <div class="loggedIn hidden">
    <p>{{'connected' | translate:params}}<br/>
      <a class="disconnect-account">{{'disconnect' | translate}}</a></p>

    <div class="premium-panel">
      <p class="premium-features ">{{'premium' | translate}}</p>
      <button class="submit uilib-btn btn-upgrade upgrade">{{'upgrade' | translate}}</button>
    </div>
  </div>
</header>

<div wix-ctrl="Accordion">
  <div class="acc-pane">
    <h3>Color Settings: </h3>

    <div class="acc-content">
      <ul class="list">
        <li>
          <span class="settingsInlineLable">Quote Color: &nbsp;&nbsp;&nbsp;</span>
          <div wix-param="quoteColor" wix-ctrl="ColorPickerWithOpacity"
               wix-options="{startWithColor:'color-5'}"></div>
        </li>
        <li>
          <span class="settingsInlineLable">Background Color:&nbsp;&nbsp;&nbsp;</span>
          <div wix-param="bgColor" wix-ctrl="ColorPickerWithOpacity"
               wix-options="{startWithColor:'color-5'}"></div>
        </li>
        <li>
          <span class="settingsInlineLabel">Border:&nbsp;&nbsp;&nbsp;</span>
          <div wix-param="borderColor" wix-ctrl="ColorPicker"
               wix-options="{startWithColor:'color-1'}"></div>

          <span class="settingsInlineLabel">Size: </span>
          <div wix-param="borderSize" wix-ctrl="Slider"
               wix-options="{ preLabel:'0', postLabel:'10', minValue:0, maxValue:10}"></div>
        </li>
        <li>
          <span class="settingsInlineLabel">Corner Size:&nbsp;&nbsp;&nbsp;</span>

          <div wix-param="borderRadius" wix-ctrl="Slider"
               wix-options="{ preLabel:'0', postLabel:'25', minValue:0, maxValue:25}"></div>
        </li>
        <li>
          <span class="settingsInlineLabel">Update Frequency:</span>
          <br/>
          <div wix-param="frequnecy" wix-ctrl="Radio">
            <div data-radio-value="1">Every minutes</div>
            <div data-radio-value="2">Every 2 minutes</div>
            <div data-radio-value="5">Every 5 minutes</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
    <!--
    <h3>Sync Options</h3>

    <div class="acc-content">
    </div>
  </div>

  <div class="acc-pane">
  </div>

  <div class="acc-pane">
    <p>Sync Meta Data ?</p>

    <div wix-model="imageMeta" wix-ctrl="Checkbox:{ postLabel:'Image Meta'}"></div>
    <div wix-model="imageAlt" wix-ctrl="Checkbox:{ postLabel:'Image Alt'}"></div>
    <div wix-model="imageLink" wix-ctrl="Checkbox:{ postLabel:'Image Link'}"></div>

    <h3>Button Group</h3>

    <div class="acc-content">
      <div wix-model="adsSize" wix-ctrl="ButtonGroup">
        <button value="mini">Mini</button>
        <button value="medium">Medium</button>
        <button value="large">Large</button>
      </div>
    </div>
  </div>

  <div class="acc-pane">
    <h3>Messages</h3>

    <div class="acc-content">
        <div wix-model="myText"
             wix-ctrl="Input"
             wix-options="{placeholder: 'Quotes Goes here', size: 'big'}"></div>

      </textarea>
    </div>
  </div-->

</div>
